<br>
<p *ngIf="checkIfRouted">You must first logit to chat</p>
<div class="card padding" style="width: 35rem;">
    <div class="mb-3 row">
        <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="inputLogin">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword">
        </div>
    </div>
    <button type="button" class="btn btn-primary logInButton">Log in</button>
</div>